@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: honeydew;
}
body{
    background-color: #333;
    margin-bottom: 60px;
}
input{
    text-align: left;
}
textarea{
    text-align: left;
}
.ad_div:hover{
    opacity: 0.7;
}
.inner{
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
#sign_up{
    color: #5bc0de;
}
#pending_ads{
    color: #f0ad4e;
    text-align: center;
}
#nav_search{
    float: left;
    padding-top: 8px;
    width: 30%;
}
